*{
    margin: 0;
    padding: 0;
}
/* 
font-family: 'Lato', sans-serif;
*/
h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}
/* header part */
header{
    background: #f6f9f9;
    padding: 20px 0;
}
.header_wrapper{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 20%;
}
.logo img{
    
}
nav{
    width: 50%;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: end;
}
nav ul li{
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #2D3950;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    transition: .2s all ease-in-out;
}
nav ul li a:hover{
    color: #15A4FA;
}

/* banner part */
.banner{
    background-image: url(../images/banner.png);
    min-height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner_content{
    width: 55%;
    text-align: center;
}
.banner_content h1{
    color: #ffffff;
    font-size: 120px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}
.banner_content span{
    display: block;
    background: #15A4FA;
    height: 2px;
    width: 65%;
    margin: auto;
}
.banner_content p{
    color: #ffffff;
    font-size: 20px;
    margin: 30px 0 60px 0;
    font-family: 'Lato', sans-serif;
}
.banner_content button{
    background: transparent;
    border: 1px solid #15A4FA;
    padding: 16px 35px;
    border-radius: 5px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    transition: .4s all ease-in-out;
    cursor: pointer;
}
.banner_content button:hover{
    background-color: #15A4FA;
    color: #ffffff;
}

.banner_content a{
    color: #ffffff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    transition: .2s all ease-in-out;
    font-size: 22px;
}   
.banner_content a:hover{
    color: #15A4FA;
}
/* simple part */
.simple{
    background-color: #f6f9f9;
    padding: 90px 0;
}
.simple_content{
    width: 90%;
    margin: auto;
    text-align: center;
}
.simple_content h1{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #2d3950;
    margin-bottom: 20px;
}
.simple_content p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #999999;
}
/* fonts part */
.fonts{
    width: 90%;
    margin: auto;
    padding: 80px 0;
}
.fonts_part{   
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fonts_content{
    width: 31%;
    margin: auto;
    text-align: center;
}
.fonts_content a{
    width: 22%;
    margin: auto;
    text-align: center;
    background-image: url(../images/font.png);
    min-height: 12vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.fonts_content a i{
    color: #ffffff;
    font-size: 35px;
}
.fonts_content h3{
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #2d3950;
    margin: 25px 0 10px 0;
}
.fonts_content p{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #999999;
}
.fonts_content a:hover{
    background: #2D3950;
}